eclipse-workspace/FITSView/bin/com/explorelearnshare/FITSView.class
eclipse-workspace/FITSView/bin/com/explorelearnshare/FITSView$1.class
eclipse-workspace/FITSView/bin/com/explorelearnshare/FITSView$Tag.class
header.txt
L_Ha_2020-04-03_03-20-40_M16_Bin1x1_180s__-20C_G139_OFS50.fit
L_Ha_2020-04-03_03-20-40_M16_Bin1x1_180s__-20C_G139_OFS50.fit.png
.DS_Store
